**__pycache__
data/
**.pytest_cache
**TokenDistributer.py
.vscode/settings.json
.gitignore
.idea/.gitignore
.idea/Amadeus.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Amadeus/v16/.suo
.vscode/launch.json
amadeusworkspace.code-workspace
allow.vsls.json